.One{

    background-color: rgb(31, 187, 169);
    }
    .Two{
    text-align: center;
    }
    .Two2{
    text-align: center;
    }
    .Tango{
    text-align: center;
    }
    .Bravo{
    text-align: center;
    }

    .oculto {
        display: none;
        background-color: #ff9999;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
   